.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --bark-title-color: #000000;
  --secondary-title-color: #252B42;
  --white-title-color: #ffffff;
  --main-text-color: #737373;
  --white-text-color: #ffffff;
  --accent-color: #FA4A0C;
  --footer-text-colot: #5C5C5C;
}

.footer {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-align: right;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  fill: #000;
  margin: 40px 0px 40px 70px;
}

.header__list {
  display: flex;
}

.header__list-item:not(:last-child) {
  margin-right: 94px;
}

.header__list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--secondary-title-color);
}

.header__list-link:hover, .header__list-link:focus {
  color: var(--accent-color);
}

.hero {
  background-image: url("../img/hero_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: slategray;
  height: 620px;
  margin-bottom: 56px;
}

.hero__list {
  padding-top: 80px;
  margin-bottom: 54px;
}

.hero__pre-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f7f7f7;
}

.hero__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 58px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--white-text-color);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hero__after-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  text-align: center;
  letter-spacing: 0.2px;
  color: #f7f7f7;
}

.hero__btn-list {
  display: flex;
  justify-content: center;
}

.hero__btn1 {
  width: 236px;
  height: 68px;
  border-radius: 30px;
  margin-right: 67px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

.hero__btn1:hover, .hero__btn1:focus {
  background-color: transparent;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.hero__btn2 {
  width: 236px;
  height: 68px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--white-text-color);
  background-color: transparent;
  border: 1px solid var(--white-text-color);
}

.hero__btn2:focus, .hero__btn2:hover {
  background-color: transparent;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.order {
  background-color: slategray;
  background-image: url("../img/pre_footer_gb.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 516px;
  margin-bottom: 100px;
}

.order__list {
  padding-top: 130px;
  margin-bottom: 50px;
}

.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.47;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--white-title-color);
  margin-bottom: 10px;
}

.order__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--white-text-color);
}

.order__btn-list {
  display: flex;
  justify-content: center;
}

.order__btn1 {
  margin-right: 15px;
  width: 142px;
  height: 64px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  border-radius: 10px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
}

.order__btn1:hover, .order__btn1:focus {
  background-color: transparent;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.order__btn2 {
  width: 173px;
  height: 60px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: var(--white-text-color);
  background-color: transparent;
  border: 1px solid #ffffff;
}

.order__btn2:focus, .order__btn2:hover {
  background-color: transparent;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.product__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 0.82;
  letter-spacing: 0.1px;
  color: var(--bark-title-color);
  opacity: 0.8;
  text-align: center;
  margin-bottom: 70px;
}

.product__box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__img1 {
  margin-bottom: 80px;
}

.product__text1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: var(--accent-color);
  margin-bottom: 7px;
}

.product__text2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.42;
  letter-spacing: 0.2px;
  color: var(--secondary-title-color);
  width: 561px;
  margin-bottom: 7px;
}

.product__text3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
  letter-spacing: 0.2px;
  color: var(--main-text-color);
  width: 467px;
}

.product__box2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.product__img2 {
  margin-top: 30px;
  margin-bottom: 190px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 175px;
  padding-right: 175px;
}
/*# sourceMappingURL=main.css.map */