.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__icon {
    fill: #000;
    margin: 40px 0px 40px 70px;
}
.header__nav {

}
.header__list {
  display: flex;
  
}
.header__list-item:not(:last-child) {
  margin-right: 94px;
}
.header__list-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.2px;
  color: var(--secondary-title-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

