body {
  font-family: "Montserrat", sans-serif;
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 175px;
  padding-right: 175px;
}
