:root{
    --bark-title-color: #000000;
    --secondary-title-color: #252B42;
    --white-title-color: #ffffff;
    --main-text-color: #737373;
    --white-text-color: #ffffff;
    --accent-color: #FA4A0C;
    --footer-text-colot: #5C5C5C;


}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;

